<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Abioka DDD Template</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.png">
    <base href="/">
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body ng-app="abioka" ng-controller="MainController as vm" layout="row">
    <menu></menu>
    <div layout="column" flex>
        <md-toolbar class="navbar-transparent">
            <div class="md-toolbar-tools">
                <md-button class="md-fab md-raised md-mini" ng-click="vm.openLeftMenu()" hide-gt-sm>
                    <md-icon>menu</md-icon>
                </md-button>
                <h2>
                    <span>Abioka</span>
                </h2>
                <span flex></span>
                <md-menu>
                    <md-button class="md-fab md-mini" ng-click="$mdOpenMenu($event)">
                        <md-icon>language</md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="vm.changeLanguage('tr')">
                                Türkçe
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.changeLanguage('en')">
                                English
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <div ng-show="vm.user.IsSignedIn">
                    <md-button class="md-fab md-mini">
                        <md-icon>person</md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini" ng-click="vm.logout()">
                        <md-icon>exit_to_app</md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
        <md-content md-scroll-y layout="column" flex>
            @RenderBody()
        </md-content>
    </div>

    <!-- lib:js -->
    <!-- endinject -->
    <!-- app:js -->
    <!-- endinject -->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-52183336-3', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
