<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Abioka DDD Template</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.png">
    <base href="/">
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body ng-app="abioka" ng-controller="MainController as vm" layout="row">
    <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" class="site-sidenav md-sidenav-left md-whiteframe-z2" ng-show="vm.user.IsSignedIn">
        <header class="nav-header">
            <a ng-href="/" class="docs-logo" href="/">
                <img src="/images/logo.jpg" alt="">
            </a>
        </header>
        <md-content flex role="navigation">
            <ul class="docs-menu">
                <li class="parent-list-item ">
                    <a class="md-button md-ink-ripple" ng-href="getting-started" ng-click="focusSection()" href="getting-started">
                        <span class="ng-binding ng-scope">
                            Getting Started
                        </span>
                    </a>
                </li>
                <li class="parent-list-item">
                    <button class="md-button-toggle md-button md-ink-ripple" type="button" ng-click="toggle()" aria-controls="docs-menu-Demos" aria-expanded="false">
                        <div flex="" layout="row" class="ng-binding ng-scope layout-row flex">
                            Demos
                            <span flex="" class="flex"></span>
                            <span aria-hidden="true" class="md-toggle-icon">
                                <md-icon aria-hidden="true">
                                    expand_more
                                </md-icon>
                            </span>
                        </div>
                        <span class="md-visually-hidden ng-binding ng-scope">
                            Toggle collapsed
                        </span>
                    </button>

                    <ul id="docs-menu-Demos" class="menu-toggle-list parentActive">
                        <li>
                            <a class="md-button md-ink-ripple" ng-href="demo/autocomplete" ng-click="focusSection()" href="demo/autocomplete">
                                <span class="ng-binding ng-scope">
                                    Autocomplete
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="md-button md-ink-ripple" ng-href="demo/sidenav" ng-click="focusSection()" href="demo/sidenav">
                                <span class="ng-binding ng-scope">
                                    Sidenav
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="md-button md-ink-ripple" ng-href="demo/slider" ng-click="focusSection()" href="demo/slider">
                                <span class="ng-binding ng-scope">
                                    Slider
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </md-content>
        <div class="sidebar-background"></div>
    </md-sidenav>
    <div layout="column" flex>
        <md-toolbar class="navbar-transparent">
            <div class="md-toolbar-tools">
                <md-button class="md-fab md-raised md-mini" ng-click="vm.openLeftMenu()" hide-gt-sm>
                    <md-icon>menu</md-icon>
                </md-button>
                <h2>
                    <span>Abioka</span>
                </h2>
                <span flex></span>
                <md-menu>
                    <md-button class="md-fab md-mini" ng-click="$mdOpenMenu($event)">
                        <md-icon>language</md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="vm.changeLanguage('tr')">
                                Türkçe
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.changeLanguage('en')">
                                English
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <div ng-show="vm.user.IsSignedIn">
                    <md-button class="md-fab md-mini">
                        <md-icon>person</md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini" ng-click="vm.logout()">
                        <md-icon>exit_to_app</md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
        <md-content md-scroll-y layout="column" flex>
            @RenderBody()
        </md-content>
    </div>

    <!-- lib:js -->
    <!-- endinject -->
    <!-- app:js -->
    <!-- endinject -->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-52183336-3', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
