<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" class="login-form">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar data-background-color="orange">
            <div class="md-toolbar-tools">
                <h2><span>{{'LoginForm' | translate}}</span></h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <form name="loginForm" ng-submit="loginForm.$valid && vm.login()">
                <md-input-container class="md-block">
                    <label>{{'Email' | translate}}</label>
                    <input type="email" name="email" ng-model="vm.user.Email" required="" />
                    <validation-message model="loginForm.email" field-name="{{'Email' | translate}}"></validation-message>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'Password' | translate}}</label>
                    <input type="password" name="password" ng-model="vm.user.Password" required="" md-maxlength="16" />
                    <validation-message model="loginForm.password" field-name="{{'Password' | translate}}"></validation-message>
                </md-input-container>
                <md-button type="submit" ng-disabled="!loginForm.$valid" class="md-raised md-default">&nbsp {{'Login' | translate}} &nbsp</md-button>
            </form>
        </md-card-content>
    </md-card>
</md-content>