<md-content layout="row" layout-align="space-around" layout-padding="layout-padding">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar data-background-color="green" data-icon="true">
            <div class="card-header-icon">
                <i class="material-icons md-dark">vpn_key</i>
            </div>
        </md-toolbar>
        <md-card-content>
            <h4><span>{{'ChangePassword' | translate}}</span></h4>
            <form name="vm.modelForm" ng-submit="vm.modelForm.$valid && vm.changePassword()" novalidate>
                <md-input-container class="md-block">
                    <label>{{'OldPassword' | translate}}</label>
                    <input type="password" name="oldPassword" ng-model="vm.model.OldPassword" required />
                    <validation-message model="vm.modelForm.oldPassword" field-name="{{'OldPassword' | translate}}"></validation-message>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'NewPassword' | translate}}</label>
                    <input type="password" name="newPassword" ng-model="vm.model.NewPassword" required />
                    <validation-message model="vm.modelForm.newPassword" field-name="{{'NewPassword' | translate}}"></validation-message>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'PasswordAgain' | translate}}</label>
                    <input password-match="vm.model.NewPassword" type="password" name="passwordAgain" ng-model="vm.model.NewPasswordAgain" required />
                    <validation-message model="vm.modelForm.passwordAgain" field-name="{{'PasswordAgain' | translate}}"></validation-message>
                </md-input-container>
                <div layout="row" layout-align="end start">
                    <md-button type="submit" ng-disabled="!vm.modelForm.$valid" class="md-raised">&nbsp {{'OK' | translate}} &nbsp</md-button>
                </div>
            </form>
        </md-card-content>
    </md-card>
</md-content>