body, html {
    background-color: #EEEEEE;
    height: 100%;
}

a {
    color: #1b69b6;
    text-decoration: none
}

a:hover, a:focus {
    color: #134a81;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

md-content {
    background-color: inherit;
}

md-card {
    border-radius: 6px !important;
}

md-toolbar[data-background-color] {
    border-radius: 3px;
    margin: -20px 15px 0;
    position: relative;
    width: auto !important;
}

md-card [data-background-color="orange"] {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

md-card [data-background-color="green"] {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

md-card [data-background-color="purple"] {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

md-card [data-background-color="blue"] {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

md-card [data-background-color="red"] {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

md-card [data-background-color="rose"] {
    background: linear-gradient(60deg, #ec407a, #d81b60);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}


md-card [data-icon="true"] {
    display: inline-block;
    position: absolute;
}

md-card .card-header-icon {
    float: left;
    padding: 15px;
}

    md-card .card-header-icon i {
        width: 33px;
        height: 33px;
        text-align: center;
        line-height: 33px;
    }

md-card [data-icon="true"] + md-card-content h4 {
    margin-top: -10px;
    margin-left: 80px;
    padding-bottom: 15px;
}

.grid-search-box {
    border: none;
    width: 100%;
    margin-left: 10px;
}

    .grid-search-box:focus {
        outline: none;
    }

.right {
    text-align: right !important;
}

md-toast .md-toast-content {
    padding: 8px 8px 8px 10px;
    border-radius: 6px;
    background-position: 15px center;
    background-repeat: no-repeat;
}

    md-toast .md-toast-content:hover {
        -moz-box-shadow: 0 0 12px #000;
        -webkit-box-shadow: 0 0 12px #000;
        box-shadow: 0 0 12px #000;
        opacity: 1;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        filter: alpha(opacity=100);
    }

    md-toast .md-toast-content::before .error-toast {
        content: '\E876';
        font-family: Material Icons;
    }

md-toast.error-toast .md-toast-content {
    background-color: #bd362f;
}

md-toast.success-toast .md-toast-content {
    background-color: #51a351;
}

md-toast.info-toast .md-toast-content {
    background-color: #2f96b4;
}

md-toast.warning-toast .md-toast-content {
    background-color: #f89406;
}

md-toast .md-toast-content .md-toast-text {
    margin-left: 10px;
}

md-toast .md-toast-content::before {
    min-height: 0 !important;
    visibility: visible !important;
    font-family: Material Icons;
    font-size: 26px;
}

md-toast.error-toast .md-toast-content::before {
    content: '\E001';
}

md-toast.success-toast .md-toast-content::before {
    content: '\E876';
}

md-toast.info-toast .md-toast-content::before {
    content: '\E88F';
}

md-toast.warning-toast .md-toast-content::before {
    content: '\E8B2';
}

md-toolbar.navbar-transparent {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 0;
    color: #3C4858;
}

    md-toolbar.navbar-transparent md-icon {
        color: rgba(0,0,0,0.54);
    }

/************
 * DOCS MENU
 ************/
.site-sidenav {
}

    .site-sidenav md-content {
        background: transparent;
        z-index: 4;
    }

    .site-sidenav,
    .site-sidenav.md-locked-open-add-active,
    .site-sidenav.md-locked-open {
        width: 272px;
        min-width: 272px;
        max-width: 272px;
    }

        .site-sidenav > * {
            min-width: 218px;
            z-index: 4;
        }

.docs-menu,
.docs-menu ul {
    list-style: none;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

    .docs-menu li {
        margin: 0;
    }

.md-whiteframe-glow-z1 {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

.docs-menu .parent-list-item {
    padding: 5px;
}

    .docs-menu .parent-list-item:after {
        content: '';
        position: absolute;
        right: 15px;
        height: 1px;
        width: calc(100% - 30px);
        background-color: rgba(180, 180, 180, 0.3);
    }

.docs-menu .md-button {
    border-radius: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    align-items: inherit;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
    text-transform: none;
}

    .docs-menu .md-button:hover,
    .docs-menu .md-button:focus {
        background: #3C4858 !important;
        border-radius: 4px;
    }

    .docs-menu .md-button md-icon {
        color: white;
    }

.docs-menu button.md-button::-moz-focus-inner {
    padding: 0;
}

.docs-menu .md-button.active {
    background: #3C4858;
}

.menu-heading {
    display: block;
    line-height: 32px;
    margin: 0;
    padding: 8px 16px 0;
    text-align: left;
    width: 100%;
    color: rgba(255, 255, 255, 0.54);
}

.menu-toggle-list {
    max-height: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: max-height;
    -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: max-height;
    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: max-height;
}

    .menu-toggle-list.parent-selected {
        height: auto;
        max-height: 500px;
    }

.docs-menu .menu-toggle-list a.md-button {
    display: block;
    padding: 0 16px 0 32px;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
}

.parent-list-item:last-child {
    margin-bottom: 20px;
    border-bottom: none;
}

.md-button-toggle .md-toggle-icon {
    display: block;
    margin-left: auto;
    speak: none;
    vertical-align: middle;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

    .md-button-toggle .md-toggle-icon.toggled {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

/* End Docs Menu */

a.docs-logo {
    border-bottom: none;
}

.docs-logo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 16px;
    margin: 0 auto;
}

    .docs-logo:focus {
        outline: none;
    }

    .docs-logo > img {
        height: 130px;
        width: auto;
        display: block;
        transform: scale(1.2);
        border-radius: 40%;
        margin-top: 20px;
        opacity: .6;
    }

.docs-logotype {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
}

/******************/
.site-sidenav .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    background-image: url('/assets/images/menu.jpg');
}

    .site-sidenav .sidebar-background:after {
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        content: "";
        display: block;
        background: #000;
        opacity: .6;
    }

.demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}

.demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.edit-dialog {
    width: 600px;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    -moz-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

.ab-label {
    display: inline;
    padding: .2em .6em .3em;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-default {
    background-color: #777;
}

    .label-default[href]:hover,
    .label-default[href]:focus {
        background-color: #5e5e5e;
    }

.label-primary {
    background-color: #337ab7;
}

    .label-primary[href]:hover,
    .label-primary[href]:focus {
        background-color: #286090;
    }

.label-success {
    background-color: #5cb85c;
}

    .label-success[href]:hover,
    .label-success[href]:focus {
        background-color: #449d44;
    }

.label-info {
    background-color: #5bc0de;
}

    .label-info[href]:hover,
    .label-info[href]:focus {
        background-color: #31b0d5;
    }

.label-warning {
    background-color: #f0ad4e;
}

    .label-warning[href]:hover,
    .label-warning[href]:focus {
        background-color: #ec971f;
    }

.label-danger {
    background-color: #d9534f;
}

    .label-danger[href]:hover,
    .label-danger[href]:focus {
        background-color: #c9302c;
    }

.full-page {
    height: 100%;
    width: 100%;
}

    .full-page[data-image="true"]:after, .full-page[data-image="true"]:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .full-page[data-image="true"] toolbar h2 > span {
        color: #FFF;
    }

    .full-page[data-image="true"]:before {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .full-page[data-image]:after {
        opacity: .8;
    }

    .full-page md-content,
    .full-page toolbar,
    .full-page menu {
        position: relative;
        z-index: 4;
    }

    .full-page .full-page-background {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;
    }

.md-button {
    text-transform: none !important;
}

.signup-or-separator {
  position: relative;
  height: 34px;
  text-align: center;
  background: none;
}

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
}

.forgot-password {
    margin-top: -20px;
}

.marT20 {
    margin-top: 20px;
}