<md-content layout="row" layout-align="space-around" layout-padding="layout-padding">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar data-background-color="green" data-icon="true">
            <div class="card-header-icon">
                <i class="material-icons md-dark">build</i>
            </div>
        </md-toolbar>
        <md-card-content>
            <h4><span>{{'Installation' | translate}}</span></h4>
            <p>
                {{'Installation.Description' | translate}}
            </p>
            <form name="installForm" ng-submit="installForm.$valid && vm.create()" novalidate>
                <md-input-container class="md-block">
                    <label>{{'Email' | translate}}</label>
                    <input type="email" name="email" ng-model="vm.entity.Email" required />
                    <validation-message model="installForm.email" field-name="{{'Email' | translate}}"></validation-message>
                </md-input-container>
                <md-input-container class="md-block" ng-if="!vm.isUpdate">
                    <label>{{'Password' | translate}}</label>
                    <input type="password" name="password" ng-model="vm.entity.Password" required />
                    <validation-message model="installForm.password" field-name="{{'Password' | translate}}"></validation-message>
                </md-input-container>
                <md-input-container class="md-block" ng-if="!vm.isUpdate">
                    <label>{{'PasswordAgain' | translate}}</label>
                    <input password-match="vm.entity.Password" type="password" name="passwordAgain" ng-model="vm.entity.PasswordAgain" required />
                    <validation-message model="installForm.passwordAgain" field-name="{{'PasswordAgain' | translate}}"></validation-message>
                </md-input-container>
                <div layout="row" layout-align="end start">
                    <md-button type="submit" ng-disabled="!installForm.$valid" class="md-raised">&nbsp {{'Create' | translate}} &nbsp</md-button>
                </div>
            </form>
        </md-card-content>
    </md-card>
</md-content>