<md-content layout="row" layout-align="space-around" layout-padding="layout-padding">
    <md-card flex="flex">
        <md-toolbar data-background-color="orange" data-icon="true">
            <div class="card-header-icon">
                <i class="material-icons md-dark">face</i>
            </div>
        </md-toolbar>
        <md-card-content>
            <h4><span>Users</span></h4>
            <abioka-data-table options="vm.options"
                               show-dialog="vm.showDialog(event, entity)" 
                               show-delete-dialog="vm.showDeleteDialog(event, entity)">
            </abioka-data-table>
        </md-card-content>
    </md-card>
</md-content>