<edit-dialog cancel="vm.cancel()" save="vm.save()" title="{{vm.title}}" loading="vm.loading">
    <md-input-container class="md-block">
        <label>Email</label>
        <input type="text" name="email" ng-model="vm.user.Email" ng-disabled="vm.isUpdate" required />
        <validation-message model="dialogForm.email" field-name="Email"></validation-message>
    </md-input-container>
    <md-checkbox ng-model="vm.user.IsAdmin" aria-label="Is Admin">
        Is Admin
    </md-checkbox>
</edit-dialog>