<md-card>
    <md-toolbar class="md-table-toolbar md-default" ng-show="(!$ctrl.options.rowSelection || !$ctrl.selected.length) && !$ctrl.showSearch">
        <div class="md-toolbar-tools">
            <span></span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.getData()">
                <md-icon>refresh</md-icon>
                <md-tooltip>
                    {{'Refresh' | translate}}
                </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="$ctrl.showSearch = true">
                <md-icon>filter_list</md-icon>
                <md-tooltip>
                    {{'Search' | translate}}
                </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="$ctrl.showEditDialog($event, null)" ng-show="!$ctrl.options.isReadOnly">
                <md-icon>add</md-icon>
                <md-tooltip>
                    {{'Add' | translate}}
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar alternate" ng-show="$ctrl.options.rowSelection && $ctrl.selected.length && !$ctrl.showSearch">
        <div class="md-toolbar-tools">
            <span>{{$ctrl.selected.length}} {{$ctrl.selected.length > 1 ? 'items' : 'item'}} selected</span>
            <span flex></span>
            <md-button class="md-icon-button">
                <md-icon>delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar md-default" ng-show="$ctrl.showSearch" aria-hidden="false">
        <div class="md-toolbar-tools">
            <md-icon>search</md-icon>
            <form flex>
                <input type="text" ng-model="$ctrl.query.filter" class="grid-search-box" placeholder="{{'Search' | translate}}" />
            </form>
            <md-button class="md-icon-button" ng-click="$ctrl.query.filter = ''; $ctrl.showSearch = false">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table ng-model="$ctrl.selected" md-progress="$ctrl.promise">
            <thead md-head md-order="$ctrl.query.order" md-on-reorder="$ctrl.getData">
                <tr md-row>
                    <th md-order-by="{{column.order ? column.name : ''}}" md-column ng-repeat="column in $ctrl.options.columns">
                        <span>{{column.text | translate}}</span>
                    </th>
                    <th ng-show="!$ctrl.options.isReadOnly"></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="entity" md-select-id="Id" md-auto-select ng-repeat="entity in $ctrl.entities.Data | filter: $ctrl.query.filter">
                    <td md-cell ng-repeat="column in $ctrl.options.columns" grid-cell>
                    </td>
                    <td md-cell class="right" ng-show="!$ctrl.options.isReadOnly">
                        <md-button class="md-icon-button" ng-click="$ctrl.showEditDialog($event, entity)">
                            <md-icon>edit</md-icon>
                            <md-tooltip>
                                {{'Edit' | translate}}
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="$ctrl.showCustomDeleteDialog($event, entity)">
                            <md-icon>delete</md-icon>
                            <md-tooltip>
                                {{'Delete' | translate}}
                            </md-tooltip>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-label="{{$ctrl.pageLabel}}" md-limit="$ctrl.query.limit" md-limit-options="[5, 10, 15]" md-page="$ctrl.query.page" md-total="{{$ctrl.entities.Count}}" md-on-paginate="$ctrl.getData" md-page-select></md-table-pagination>
</md-card>
