<md-content layout="row" layout-align="space-around" layout-padding="layout-padding">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar data-background-color="green" data-icon="true">
            <div class="card-header-icon">
                <i class="material-icons md-dark">lock_outline</i>
            </div>
        </md-toolbar>
        <md-card-content>
            <h4><span>{{'NewPassword' | translate}}</span></h4>
            <form name="vm.modelForm" ng-submit="vm.modelForm.$valid && vm.resend()" novalidate>
                <md-input-container class="md-block">
                    <label>{{'NewPassword' | translate}}</label>
                    <input type="password" name="newPassword" ng-model="vm.model.NewPassword" required />
                    <validation-message model="vm.modelForm.newPassword" field-name="{{'NewPassword' | translate}}"></validation-message>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'PasswordAgain' | translate}}</label>
                    <input password-match="vm.model.NewPassword" type="password" name="passwordAgain" ng-model="vm.model.NewPasswordAgain" required />
                    <validation-message model="vm.modelForm.passwordAgain" field-name="{{'PasswordAgain' | translate}}"></validation-message>
                </md-input-container>
                <md-progress-linear md-mode="indeterminate" ng-show="vm.loading"></md-progress-linear>
                <div layout="row" flex>
                    <md-button flex="100" type="submit" ng-disabled="!vm.modelForm.$valid || vm.loading" class="md-raised md-warn">&nbsp {{'OK' | translate}} &nbsp</md-button>
                </div>
                <hr />
                <p>
                    <small>
                        {{'AlreadyHaveAnAccountAndPassword' | translate}}
                        <a href="" ui-sref="login">{{'Login' | translate}}</a>
                    </small>
                </p>
            </form>
        </md-card-content>
    </md-card>
</md-content>